* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: thistle;
}

.item1 { grid-area: h; }
.item2 { grid-area: m; }
.item3 { grid-area: b; }
.item4 { grid-area: g1; }
.item5 { grid-area: g2; }
.item6 { grid-area: g3; }
.item7 { grid-area: f; }

.grid-container {
  /* max-width: 85%; */
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'h h h  '
    'm b b  '
    'g1 g2 g3 '
    'f f f ';
  grid-gap: 10px;
  background-color:lightblue;
  padding: 10px;
  border:1px solid black;
}

.grid-container > div {
  background-color:lightgrey;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border:1px solid black;
}

